<div class="row">
<div class="col-md-7">
	<h2>Registration Form</h2>
    <form method="post" action="/users/register">
    	<div class="form-group label-floating is-empty">
            <label class="control-label">Name</label>
            <input type="name" name="name" class="form-control">
        	<span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
            <label class="control-label">Email</label>
            <input type="email" name="email" class="form-control">
        	<span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
            <label class="control-label">Password</label>
            <input type="password" name="password" class="form-control">
        	<span class="material-input"></span>
    	</div> 
    	<div class="form-group label-floating is-empty">
            <label class="control-label">Confirm Password</label>
            <input type="password" name="cpassword" class="form-control">
        	<span class="material-input"></span>
    	</div> 
    	<div class="form-group label-floating is-empty">
    		<select name="role_id" class="form-control">
				<option value="">Select Role</option>
				<option value="1">Admin</option>
				<option value="2">Site Manager</option>
				<option value="3">Department Manager</option>
				<option value="4">Department Head</option>
			</select>
    	</div>
        <button type="submit" class="btn btn-fill btn-rose">Submit</button>
    </form>   
</div>
<div class="col-md-5" style="margin-top:85px;">
	{{#if errors}}
		{{#each errors}}
			<div class="alert alert-danger alert-dismissable">{{msg}} <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button></div>			
		{{/each}}
	{{/if}}
</div>
</div>